html, body {
 margin: 20;
 padding: 20;
 }
body {
 background-color: black;
 font-family: 'Impact';
 font-size: 100%;
 }
 h1 {
     font-family: 'Impact';
     font-size: 200%;
     color: #ff00cc;
     letter-spacing: 0.08em;
     text-transform: uppercase;
     text-shadow: 0 0 0.15em #ff00cc ;
     user-select: none;
     white-space: nowrap;
     filter: blur(0.007em);
 }
h2 {
    font-family: 'Impact';
    font-size: 130%;
    color: #22ffff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-shadow: 0 0 0.10em #22ffff ;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
}
h3 {
    font-family: 'Impact';
    font-size: 100%;
    color: #ff00cc;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-shadow: 0 0 0.10em #ff00cc ;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
}
h4 {
    font-family: 'arial';
    font-size: 80%;
    color: #22ffff;
}
h5 {
    font-family: 'arial';
    font-size: 70%;
    color: #ff00cc ;
}
form {
    font-family: 'Impact';
    font-size: 90%;
    color: #ff00cc;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-shadow: 0 0 0.08em #ff00cc ;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.005em);
}
.bouton {
background-color: black;
font-family: 'Impact';
color: #ff00cc;
margin: 20px;
padding: 20px;
text-decoration: none;
text-align: center;
display: inline-block;
font-size:100%;
cursor: pointer;
}

.bouton:hover { background-color: black; color: #ff00cc; }
p,ul,li,td {
 color: white;
 }
a:link {
 color: white;
 text-decoration: underline;
 }
a:visited {
 color: white;
 }
a:hover {
 color: white;
 text-decoration: none;
}
a:active, a:focus {
 color: white;
}
.neonText {
   color: #fff;
   text-shadow:
     0 0 7px #fff,
     0 0 10px #fff,
     0 0 21px #fff,
     0 0 42px #f09,
     0 0 82px #f09,
     0 0 92px #f09,
     0 0 102px #f09,
     0 0 151px #f09;
 }

body {
 font-size: 18px;
 font-family: "Impact", sans-serif;
 background-color: #010a01;
}

h1, h2 {
 text-align: center;
 font-weight: 200;
 line-height: 1;
}

h1 {
   font-size: 4.2rem;
   animation: pulsate 0.11s ease-in-out infinite alternate;
}

h2 {
   font-size: 2.2rem;
   color: #22ffff;
   text-shadow:
     0 0 7px #fff,
     0 0 10px #fff,
     0 0 21px #fff,
     0 0 42px ##22ffff,
     0 0 82px ##22ffff,
     0 0 92px ##22ffff,
     0 0 102px ##22ffff,
     0 0 151px ##22ffff;
}

.container {
 margin-top: 20vh;
}

@keyframes pulsate {

 100% {

     text-shadow:
     0 0 4px #fff,
     0 0 11px #fff,
     0 0 19px #fff,
     0 0 40px #22ffff,
     0 0 80px #22ffff,
     0 0 90px #22ffff,
     0 0 100px #22ffff,
     0 0 150px #22ffff;

 }

 0% {

   text-shadow:
   0 0 4px #fff,
   0 0 10px #fff,
   0 0 18px #fff,
   0 0 38px #22ffff,
   0 0 73px #22ffff,
   0 0 80px #22ffff,
   0 0 94px #22ffff,
   0 0 140px #22ffff;

}
Run Pen


Resources
